{% extends "layout.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<h3 class="about">Oleg Analytics</h3>
<p class="about">Наша компания предоставляет аналитику акций, путем парсинга известного ресурса Yahoo Finance</p>
<p class="about">Чтобы воспользоваться нашей аналитикой, вам нужно указать тикер компании, его можно получить введя в поисковую строку название компании (на английском) и добавив слово stock или stock</p>
<h3 class="about">Как с нами связаться?</h3>
<div class="container_about">
        <div class="block_contacts">
            <div class="text_contacts">
                <h3 class="title_contacts">Адрес</h3>
                <p>107140, Москва, Краснопрудная улица, 14с1</p>
            </div>
            <div class="text_contacts">
                <h3 class="title_contacts">Почта</h3>
                <p>ask@oanalytics.ru</p>
            </div>
            <div class="text_contacts">
                <h3 class="title_contacts">Телефон</h3>
                <p>+7 (495) 032-71-20</p>
            </div>
        </div>
    </div>
{% endblock %}