{% extends "layout.html" %}

{% block title %}Тикеры{% endblock %}

{% block content %}
<h2>Ниже представлены тикеры одних из самых популярных компаний</h2>
<p class=""><b>AAPL</b> - Apple Inc.</p>
<p class=""><b>TSLA</b> - Tesla, Inc.</p>
<p class=""><b>T</b> - AT&T Inc.</p>
<p class=""><b>WWW</b> - Wolverine World Wide, Inc.</p>
<p class=""><b>GPS</b> - The Gap, Inc.</p>
<p class=""><b>LPL</b> - LG Display Co., Ltd.</p>
<p class=""><b>BORK</b> - Bourque Industries, Inc.</p>
<p class=""><b>DIS</b> - The Walt Disney Company</p>
{% endblock %}}